/* -- GENERAL -- */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100;
	
	transition: all 0.15s;
}

/* -- END GENERAL --*/

/* -- FONTS -- */

@font-face {
    font-family: Century Gothic;
    src: url('/static/fonts/font_century_gothic.ttf') format("truetype");
}

@font-face {
	font-family: Segoe UI;
	src: url('/static/fonts/font_segoe_ui.ttf') format("truetype"),
	 	 url('/static/fonts/font_segoe_ui.woff') format("woff");
}

.header-font, h1, h2, h3, h4 {
	font-family: "Century Gothic" !important;
}

.content-font {
	font-family: "Segoe UI";
}

/* -- END FONTS -- */

/* -- COLORS -- */

.theme-color-first {
	color: #0072ce;
	/*color: #31b0d5;*/
}

.theme-color-first-background { 
	background-color: #0072ce;
}

.theme-color-second {
	color:#00b140 !important;
}

.theme-color-second-background {
	background-color: #00b140;
}

.theme-color-third-background {
	background-color: #fe5000;
}

p a, p a:visited {
	color: #0072ce;
}

/* -- END COLORS -- */


/* -- NAVIGATION -- */

#header-logo {
	height: 100px;
}

#featured-wrapper
{
	padding-top: 10vh;
	padding-bottom: 10vh;
	
	background-size: cover !important;
	background-position: 0 32%;
	background-repeat: no-repeat;
	
	display: flex;
    align-items: center;
}

@media (max-width: 992px) {
	#donate-wrapper {
		display: none;
	}
}

#donate-wrapper, #donate-wrapper figcaption, #donate-wrapper a:link
{
	text-align: center;
	color: white;
	font-size: 1.35em;
	text-decoration: none;
}

#donate-image {
	width: 150px;
	opacity: 0.75;
	transition: all 0.3s;
}

#donate-image:hover {
	opacity: 0.93;
	transition: all 0.3s;
}

#featured-text {
    color: white;
    z-index: 20;
    font-size: 3em;
    text-shadow: 0px 0px 10px rgba(0,0,0,1);
}

.text-shadow {
	text-shadow: 0px 0px 10px rgba(0,0,0,1);
}

ul.nav li a:hover, ul.nav li a:visited, ul.nav li a:focus {
	background-color: #fe5000; /*#0059a1 !important;	padding-bottom: 40px;*/
}

ul.navbar-nav a {
	/*padding-top: 40px !important;
	padding-bottom: 40px !important;*/
}

.navbar-brand {
	padding: 0 15px !important;
}

.navbar-static-top a {
	border-radius: 8px;
}

div.navbar-brand-mobile {
	font-size: 1.5em;
	text-align: center;
}

ul.nav li a:link, ul.nav li a:visited {
	color: #fff !important;
}

.navbar {
	margin-bottom: 0 !important;
}

div.navbar-right p {
	color: #fff;
}

div.theme-color-first-background.container-fluid {
	margin-bottom: 2em; 
}

#page-title {
	padding: 0;
}

#page-title li{
	min-width: 115px;
	text-align: center;
}

div#page-title h3 {
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
}

div.nav-sub * {
	color: #fff !important;
}

div.nav-sub div.col-xs-1 { 
	min-width: 4em;
	text-align: center;
}

div.nav-sub div.col-xs-1 {
	margin-top: -10px;
    padding-top: 5px;
    margin-bottom: -10px;
    padding-bottom: 10px;
}

div.nav-sub-selected {
	background-color: rgba(1, 1, 1, 0.2);
}


/* -- END NAVIGATION -- */


/* -- CONTENT -- */

p, span, form *, input {
	color: #000;
	font-family: "Segoe UI";
	font-size: 14pt;
}

p, p a, td {
		font-family: "Segoe UI";
		font-size: 14pt;
}

p {
	padding-left: 10px;
	text-align: justify;
}

h3 + table {
	margin-left: 10px;
}

#content-wrap {
	min-height: calc(100vh - 96px);
}


.content-event-header {
	padding: 10px;
}

.content-subheader{
	font-size: 18pt;
	color: #fff;
}

.content-subheader-date {
	color: #fff;
	opacity: 0.6;
}

.content-event-image {
	width: 100%;
	max-width: 250px;
	border-radius: 25px;
}

.divider {
	background-color: #fe5000;
	height: 1px;
	width: 100%;
	margin: 1em 0;
}

div.lost-found-pets {
	margin-bottom: 1em;
	padding-bottom: 10px;
	min-height: 160px;
	border-bottom: 1px solid #0072ce;
}

.lost-found-pet-info h3 {
	padding-top: 0;
    padding-bottom: 0.25em;
	margin-top: -6px !important;
    margin-bottom: 0;
}

.lost-found-pet-info td {
	vertical-align: middle !important;
}

.news-events-header {
	color: white;
	padding: 0.5em;
	font-size: 20pt;
}

/* -- END CONTENT -- */

/* -- FORMS -- */

.lost-found-filter-title {
	color: #fff;
	border-radius: 5px;
	margin-bottom: 5px;
	padding: 3px 0;
}

.lost-found-filter-selected {
	background-color: #00b140;
	padding: 7px 5px;
	color: #fff !important;
}

.lost-found-filter-selected:hover {
	opacity: 0.75;
}

.lost-found-filter-unselected {
	background-color: #f5f5f5;
	color: #444;
	padding: 7px 5px;
}

.lost-found-filter-unselected i {
	color: #777;
}

.lost-found-filter-selected i {
	color: #fff;
}

#lost-found-filters button {
	text-align: left;
	font-size: 12pt;
}


#lost-found-form {
	font-size: 1.5em;
	color: #fff;
}


#lost-found-form input[type="checkbox"] {
	margin-bottom: -3px;
}

#lost-found-form label {
	font-size: 1.5em;
}

#filter-mobile-collapse {
	color: white;
	font-size: 1.5em;
}

/* -- END FORMS -- */


/* -- FOOTER -- */

#footer-container {
 	text-align: center;
 	min-height: 40px;
 	padding-top: 10px;
 	color: #fff;
}

#footer-container > h4 { 
	margin: 0;
}

#footer-container a:link, #footer-container a:visited {
	color: #fff;
}



/* -- END FOOTER -- */

/* -- OVERRIDES -- */

div.navbar-collapse {
	text-align: center;
}

.navbar-toggle .icon-bar {
	background-color: #fff;
}

div.container h1, div.container h2, div.container h3, div.container h4, div.container h5 { 
	color: #000 !important;
	margin-top: 0; 
}

.img-thumbnail {
	width: 200px;
	height: 200px;
}


.lost-found-image {
	width: 175px;
	height: 175px;
	background-size: cover;
    background-position: center center;
	border-radius: 250px;
	transition: all 0.2s;
}

.lost-found-image:hover {
	transform: scale(1.15);
	transition: all 0.2s;
}

.form-control {
	margin-top: 0.75em;
	margin-bottom: 0.75em;
}

input[type="file"] {
	display: none !important;
}

/* this is hacky and bad */
label[for="id_photo"] {
	width: 100%;
	background-color: #31b0d5;
	color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 4px;
    padding: 6px 12px;
    
    margin-bottom: 0.75em;
    
    touch-action: manipulation;
    cursor: pointer;
}


@media (max-width: 768px), (min-width: 1200px) {
	.navbar-nav li a {
		text-align: center;
		font-size: 2em;
	}
}

/* prevent the navigation from cascading on tablet */
@media (max-width: 1200px) and (min-width: 768px) {
	.navbar-nav li a {
		font-size: 2.15vw;
	}
}

@media (max-width: 992px) {
	.collapse-mobile { 
		display: none;
	}
}

@media (min-width: 993px) {
}

@media (max-width: 768px) {
	.text-scale-small {
		font-size: 3.5vw;
		line-height: 4vw;
	}

    .navbar-brand {
    	position: absolute;
    	left: calc(50% - 40px);
    }
    
    .container, .lost-found-pet-info { 
	   padding-left: 0 !important;
	   padding-right: 0 !important;
    }
    
    p {
		padding-left: 10px;
		text-align: left;
    }
    /* this prevents the mobile nav background color from flowing into the white space padding */
    ul.nav li a {
  		margin-left: 15px;
    	margin-right: 15px;
    }
}

@media (min-width: 768px) {
	.text-scale-small {
		line-height: 20pt;
	}
	
	#content-wrap {
		padding-left: 0;
		padding-right: 0;
	}
}

.navbar-static-top {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

i {
	vertical-align: middle;
}



/* -- END OVERRIDE -- */

/* -- ICONS -- */

.gi {
	height: 24px;
	width: 24px;
}

.gi-male {
	background-image: url("/static/images/icons/glyphicons-751-gender-male.png");
}


hr {
	border-top: 1px solid #0072ce !important;
	opacity: 0.3;
}
