{% extends 'index.html' %}
{% block head_title %}Adopt{% endblock %}

{% block nav_current %}
   <ul class="nav navbar-nav">
      <li><a href="/adopt">ADOPT</a></li>
   </ul>
{% endblock %}

{% block content %}
   <div class="col-md-12">
      <h2 class="text-center">Adoption Fees</h2>
   </div>
   <div class="col-md-6">
      <h3>Dogs</h3>
      <table class="table table-hover table-responsive">
         <tr>
            <td>Already fixed with current rabies</td>
            <td class="text-right"><strong>$65.00</strong></td>
         </tr>
         <tr>
            <td>Already fixed but rabies not current</td>
            <td class="text-right"><strong>$80.00</strong></td>
         </tr>
         <tr class="bg-info">
            <td><em>If not altered</em></td>
            <td></td>
         </tr>
         <tr>
            <td>HSPC [ $100 to clinic &mdash; $40.00 to shelter ]</td>
            <td class="text-right"><strong>$140.00 total</strong></td>
         </tr>
         <tr>
            <td>Copeland [ $100.00 to vet &mdash; $40.00 to shelter ]</td>
            <td class="text-right"><strong>$140.00 total</strong></td>
         </tr>
      </table>
   </div>
   <div class="col-md-6">
      <h3>Cats</h3>
      <table class="table table-hover table-responsive">
         <tr>
            <td>Already fixed with current rabies</td>
            <td class="text-right"><strong>$20.00</strong></td>
         </tr>
         <tr>
            <td>Already fixed but rabies not current</td>
            <td class="text-right"><strong>$35.00</strong></td>
         </tr>
         <tr class="bg-info">
            <td><em>If not altered</em></td>
            <td></td>
         </tr>
         <tr>
            <td>HSPC [ $75.00 to clinic &mdash; $20.00 to shelter ]</td>
            <td class="text-right"><strong>$95.00 total</strong></td>
         </tr>
         <tr>
            <td>Copeland [ $80.00 to vet &mdash; $20.00 to shelter ]</td>
            <td class="text-right"><strong>$100.00 total</strong></td>
         </tr>
      </table>
   </div>
   <div class="col-md-4 col-md-offset-4 text-center">
      <br/>
      <h2>View Our Adoptable Pets at CPCAS</h2>
      <a target="_blank" href="https://www.petfinder.com/pet-search?shelter_id=TN132">
         <img style="width: 60%;" class="center-block" src="/static/images/pet_finder.png"/>
      </a>
   </div>
{% endblock %}
