{% extends 'index.html' %}

{% block nav_current %}
   <ul class="nav navbar-nav">
      <li><a href="/volunteer">VOLUNTEER/DONATE</a></li>
      <li><a href="/wishlist">WISHLIST</a></li>
   </ul>
{% endblock %}

{% block content %}

{% endblock %}