{% extends 'index.html' %}
{% block head_title %}Home{% endblock %}
{% block nav_current %}
<ul class="nav navbar-nav">
   <li><a href="/">HOME</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="col-md-8">
   <h1>Mission Statement</h1>
   <p>
      The Cookeville / Putnam County Animal Shelter Adoption Outreach seeks to place all of our adoptable animals in loving, lifetime homes.
      In fact, we fancy ourselves as matchmakers, actually. Our matchmaking skills are free and are included with the price of adoption.
      The care and safekeeping of our area’s dogs, cats, bunnies and guinea pigs, ferrets and
      other domesticated animals is our first priority. CPCAS does not turn any Putnam County animal away.
   </p>
   <hr/>
   <h1>Hours</h1>
   <p>
      <strong>Monday - Saturday</strong>
      <br/><i class="glyphicon glyphicon-time"></i> 12:00PM - 6:00PM<br/>
      <em>Closed Sunday</em>
   </p>
   <hr/>
   <h1>Contact Us</h1>
   <p style="text-align: left;">
      <i class="glyphicon glyphicon-earphone"></i>  &nbsp; <a href="tel:9315263674" class="telephone-number">(931) 526-3647</a><br/>
      <i class="glyphicon glyphicon-print"></i> &nbsp; (931) 528-6489<br/>
      <i class="glyphicon glyphicon-envelope"></i> &nbsp; <a href="mailto:shelterstaff@cookeville-tn.org">shelterstaff@cookeville-tn.org</a><br/>
      <i class="glyphicon glyphicon-road"></i>  &nbsp; 2650 Gainesboro Grade, Cookeville, TN 38501<br/>
   </p>
   <hr/>
   <h1>Is Your Pet Lost?</h1>
   <p>
       We seek to reunite pet owners with their lost dogs or cats.<br/>
       Please visit our <a href="/lost-found">Lost &amp; Found Page.</a><br/>
       Remember, the only way to be certain if your pet is at our shelter is to come see for yourself, in person!
   </p>
   <br/>
</div>
<div class="col-md-4">
   <div>
      <iframe class="center-block" width="300" height="550" style="border: none;" src="//www.bing.com/maps/embed/viewer.aspx?v=3&amp;cp=36.202096~-85.534512&amp;lvl=15&amp;w=300&amp;h=550&amp;sty=r&amp;typ=d&amp;pp=Cookeville%20%26%2347%3B%20Putnam%20County%20Animal%20Shelter~2650%20Gainesboro%20Grade%20Cookeville%2C%20TN%26%2360%3Bbr%26%2347%3B%26%2362%3B%26%2340%3B931%26%2341%3B%20526-3647~36.202096~-85.534512&amp;ps=&amp;dir=0&amp;mkt=en-us&amp;form=BMEMJS"></iframe>
      <div style="margin: 12px 0 0 0; text-align: center;"><a target="_blank" href="http://www.bing.com/maps/?cp=36.202096~-85.534512&amp;sty=r&amp;lvl=15&amp;sp=point.36.202096_-85.534512_Cookeville%20%26%2347%3B%20Putnam%20County%20Animal%20Shelter_2650%20Gainesboro%20Grade%20Cookeville%2C%20TN%26%2360%3Bbr%26%2347%3B%26%2362%3B%26%2340%3B931%26%2341%3B%20526-3647&amp;mm_embed=map">View larger map</a>&nbsp; |&nbsp; <a target="_blank" href="http://www.bing.com/maps/?cp=36.202096~-85.534512&amp;sty=r&amp;lvl=15&amp;rtp=~pos.36.202096_-85.534512_Cookeville%20%26%2347%3B%20Putnam%20County%20Animal%20Shelter%2C%202650%20Gainesboro%20Grade%20Cookeville%2C%20TN%26%2360%3Bbr%26%2347%3B%26%2362%3B%26%2340%3B931%26%2341%3B%20526-3647_&amp;mm_embed=dir">Get directions</a>&nbsp; |&nbsp; <a target="_blank" href="http://www.bing.com/maps/?cp=q109dy7w4xbf&amp;sty=b&amp;lvl=18&amp;sp=point.36.202096_-85.534512_Cookeville%20%26%2347%3B%20Putnam%20County%20Animal%20Shelter_2650%20Gainesboro%20Grade%20Cookeville%2C%20TN%26%2360%3Bbr%26%2347%3B%26%2362%3B%26%2340%3B931%26%2341%3B%20526-3647&amp;mm_embed=be">View bird's eye</a></div>
   </div>
   <br/>
</div>
<div class="col-md-8">
   <div class="theme-color-first-background text-center news-events-header">News &amp; Events</div>
   {% for event in news_events %}
   <div class="content-event-header theme-color-second-background">
      <span class="content-subheader">{{ event.title }}</span><br/>
      <span class="content-subheader-date">{{ event.event_date|date:"l, F d" }}</span>
   </div>
   <br/>
   {% if event.photo %}
   <div class="row">
      <div class="col-md-8">
         <p>format_html({{ event.content|linebreaks }})</p>
      </div>
      <div class="col-md-4">
         <img class="content-event-image center-block" src="/media/{{ event.photo }}"/>
      </div>
   </div>
   {% else %}
      {{ event.content|linebreaks }}
   {% endif %}
   <br/>
   {% endfor %}
</div>
{% endblock %}