{% extends 'index.html' %}
{% block head_title %}Resources{% endblock %}

{% block nav_current %}
   <ul class="nav navbar-nav">
      <li><a href="/resources">RESOURCES</a></li>
   </ul>
{% endblock %}

{% block content %}
      <div class="col-md-8">
      {% for contact in resource_contacts %}
         <div class="col-md-6" style="margin-bottom: 20px;">
            <h3>{{ contact.name }}</h3>
            <p class="text-left">
               {% if contact.doctors_name %}
                  <b>{{ contact.doctors_name }}</b><br/>
               {% endif %}
               {{ contact.address }}<br/>
               {% if contact.po_box %}
                  P.O. Box {{ contact.po_box }}<br/>
               {% endif %}
               {{ contact.city }}, {{ contact.state }} {{ contact.zip_code }}<br/>
               T: <a href="tel:{{ contact.phone_number }}" class="telephone-number">{{ contact.phone_number }}</a><br>
               {% if contact.fax_number %}
                  F: <span class="telephone-number">{{ contact.fax_number }}</span><br/>
               {% endif %}
            </p>
         </div>
      {% endfor %}
      </div>
      <div class="col-md-4">
         <div class="col-md-12">
            <h3>Animal Control</h3>
            <table class="table table-hover">
                  {% for ac in animal_control_contacts %}
                     <tr>
                        <td>{{ ac.city }}</td>
                        <td><a href="tel:{{ ac.phone_number }}" class="telephone-number">{{ ac.phone_number}}</a></td>
                     </tr>
                  {% endfor %}
      
            </table>
         </div>
         <div class="col-md-12">
            <h3>Other Important Info</h3>
            <p class="text-left">
               <b>TWRA - Main Office</b><br/>
               <a href="tel:8002626705" class="telephone-number">8002626705</a><br/><br/>
               <b>AARF</b><br/>
               <a href="tel:9312608018" class="telephone-number">9312608018</a><br/><br/>
               <b>Waldens Puddle for Wildlife</b><br/>
               <a href="tel:61529999385" class="telephone-number">6152999938</a><br/>
            </p>
         </div>
      </div>
{% endblock %}
