{% extends 'index.html' %}

{% block nav_current %}
    <ul class="nav navbar-nav">
      <li><a href="/login">LOGIN</a></li>
   </ul>
{% endblock %}

{% block head_title %}
   Log In
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        You are already logged in.
    {% else %}
	<div class="col-md-4 col-md-offset-4">
        {% if login_error %}
            <div class="alert alert-danger">{{ login_error }}</div>
        {% endif %}
	     <h3>Login to your account</h3>
        <form action="/login/" method="post" enctype="multipart/form-data">
            <div class="form-group">
	        {% csrf_token %}
            {{ login_form }}
            <input type="hidden" name="destination_url" value="{{ source_url }}"/>
	    </div>
            <input class="btn btn-success btn-block" type="submit" value="Login" />
        </form>
        <a style="margin-top: 0.75em;" href="/register" class="btn btn-info btn-block">Register</a>
        <br/>
        <div class="text-center"><a href="/admin">Admin Login</a></div>
	</div>
    {% endif %}
{% endblock %}
