{% extends 'index.html' %}

{% block nav_current %}
   <ul class="nav navbar-nav">
      <li><a href="/register">REGISTER</a></li>
   </ul>
{% endblock %}

{% block head_title %}
   Register
{% endblock %}

{% block content %}
    <div class="col-md-4 col-md-offset-4">
    {% if user.is_authenticated %}
        <div class="alert alert-info">You are already logged in.</div>
    {% else %}
        {% if register_error %}
            <div class="alert alert-danger">{{ register_error }}</div>
        {% endif %}
            <h3>Register a new account</h3>
	        <div class="form-group">
           <form action="/register/" method="post" enctype="multipart/form-data">
               {% csrf_token %}
               {{ register_form }}
               <input class="btn btn-success btn-block" type="submit" value="Register" />
           </form>
        </div>
    {% endif %}
    </div>
{% endblock %}
