<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{% block head_title %}{PLEASE REPLACE ME}{% endblock %} | Cookeville/Putnam County Animal Shelter</title>
      <meta name="description" content="CPCAS Website">
      <meta name="author" content="CPCAS Team">
      {% load static %}
      <link href="{% static "css/style.css" %}" rel="stylesheet" media="screen">
      <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
      {% load bootstrap3 %}
      {% bootstrap_css %}
      {% bootstrap_javascript %}
   </head>
   <body>
      <div id="content-wrap" class="col-md-12">
         <div class="theme-color-first-background container-fluid header-font">
            <div class="navbar-static-top theme-color-first-background">
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                  </button>
                  <a href="/"><img class="navbar-brand" src="{% static "images/logo.png" %}" alt="HomePage"></a>
               </div>
               <div id="site-navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                     <li><a href="/">Home</a></li>
                     <li class="active"><a href="/lost-found">Lost &amp; Found</a></li>
                     <li><a href="/resources">Resources</a></li>
                     <li><a href="/adopt">Adopt</a></li>
                     <li><a href="/help">Help Us</a></li>
                     {% if user.is_authenticated %}
                        <li><a href="/logout">Logout</a></li>
                     {% else %}
                       <li><a href="/login">Login</a></li>
                     {% endif %}
                  </ul>
               </div>
            </div>
            {% if featured_image %}
               <div id="featured-wrapper" class="row" style="background-image: url('{{featured_image }}">
                  <div class="col-md-6" id="featured-text">Cookeville / Putnam County <br/>Animal Shelter</div>
    
                     <div class="col-md-2 col-md-offset-3" id="donate-wrapper">
                        <a href="/donate">
                           <figure>
                              <img id="donate-image" src="{% static "images/icons/donate_heart.png"%}"/>
                              <figcaption class="text-shadow">Donate</figcaption>
                           </figure>
                        </a>
                     </div>
               </div>
            {% endif %}
            <div class="row theme-color-second-background top-current">
               <div id="page-title" class="col-md-12">
                  {% block nav_current %}
                  { PLEASE REPLACE ME }
                  {% endblock %}
               </div>
            </div>
         </div>
         <div class="container col-md-10 col-md-offset-1 content-font">
            <div class="row">
               {% block content %}
               { PLEASE REPLACE ME }
               {% endblock %}
            </div>
            <br/>
         </div>  
      </div>
     <div id="footer-container" class="col-md-12 theme-color-first-background">
            <h4 class="col-md-12 text-scale-small">
               Cookeville / Putnam County Animal Shelter
            </h4>
            <h4 class="col-md-12 text-scale-small">
               2650 Gainesboro Grade Cookeville, TN
            </h4>
            <h4 class="col-md-12 text-scale-small" style="margin-bottom: 0.5em;">
               <a href="tel:9315263647">(931) 526-3647</a>
            </h4>
      </div>
     
      {% block include_javascript %}
      {% endblock %}
      <script>
         /* global $ */
         $('.telephone-number').text(function(i, text) {return text.replace(/(\d{3})(\d{3})(\d{4})/, '$1.$2.$3');});
      </script>
   </body>
</html>