{% extends 'index.html' %}

{% load static %}
{% block head_title %}Lost & Found{% endblock %}

{% block include_javascript %}
   <script type="text/javascript" src="{% static "js/filter.js" %}"></script>
{% endblock %}

{% block nav_current %}
   <div>
            <ul class="nav navbar-nav">
               <li><a href="/lost-found/">Lost</a></li>
               <li><a href="/lost-found/found/">Found</a></li>
               <li><a href="/lost-found/post/">Post</a></li>
            </ul>
   </div>
{% endblock %}

{% block content %}
   <h1>Lost &amp; Found</h1>
{% endblock %}
