{% load listutil %}
{% for pet in pets %}
    <div class="col-md-6 lost-found-pets">
        <div class="col-md-12">
            {% if pet.photo %}
    	        <a href="/media/{{ pet.photo }}" target="_blank">
    	            <div class="lost-found-image center-block" style="background-image: url('/media/{{ pet.photo }}');"></div>
    	        </a>
    	    {% else %}
    	        <div class="lost-found-image center-block" style="opacity: 0.5; background-image: url('/static/images/no-photo-available.png');"></div>
    	    {% endif %}
        </div>
        <div class="col-md-12 lost-found-pet-info text-center">
            <br/>
    	    <h3>
    	        <strong>
    	            {% if pet.name %}
    	                {{ pet.name }}
    	            {% else %}
    	                 No name provided
    	            {% endif %}
    	         </strong>
    	    </h3>
    	    <br/>
    	    <table class="table table-hover">
    	        {% for name, value in pet.get_fields %}
    	            {% if pet|getattr:name %}
    	                {% with filter_type=pet|getattr:name %}
    	                    {% if filter_type.name in filters %}
    	                    <tr>
    	                        <td class="text-left"><span class="filterable" filtertype="{{ filter_type.name }}" filtervalue="{{ pet|getattr:name }}"><i>{{ filter_type.name }}</i></span></td>
    	                        <td class="text-right"><span>{{ pet|getattr:name }}</span></td>
                            </tr>
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                {% endfor %}
                 <tr>
                    <td class="text-left">Near</td>
                    <td class="text-right">{{ pet.missing_from }} </td>
                </tr>
                <tr>
                    <td class="text-left theme-color-second">{{ pet.missing_since }}</td>
                    <td><button class="btn btn-success pull-right">Contact</button></td>
                </tr>
    	    </table>
        </div>
    </div>
{% endfor %}