{% extends '../help.html' %}

{% block head_title %}
    Donate
{% endblock %}

{% block content %}
   <div class="col-md-5">
      <h2>How to Donate</h2>
      <p>
         The shelter is always in need of donated supplies and funding.
         Donations accepted through <a href="https://www.paypal.com/donate/?token=M-sPH8Kk-pJRXaZWGZQcEfYhtAbDR5mU7HI5o3VVwKlVVsJ6mRkRh_Fde40BYkN34Swrqm">PayPal</a> and checks made out to: Cookeville/Putnam County Animal Shelter, 2650 Gainesboro Grade, Cookeville, TN, 38501
      </p>
   </div>
   <div class="col-md-12">
      <h2>Paypal Donation</h2>
      <form class="col-md-4"  action="https://www.paypal.com/cgi-bin/webscr" method="post">
         <input type="hidden" name="cmd" value="_s-xclick">
         <input type="hidden" name="hosted_button_id" value="BTAYDUVAHLD3G">
         <input type="image" style="width: 100%;" src="/static/images/paypal.png" alt="We except PayPal" border="0" />
      </form>
   </div>
{% endblock %}