{% extends '../help.html' %}

{% block head_title %}
    Volunteer
{% endblock %}

{% block content %}
   <div class="col-md-12">
      <h2>Volunteer Forms</h2>
      <p>
         <i class="glyphicon glyphicon-download-alt"></i><a target="_blank" href="/static/documents/cpcas_volunteer_application.pdf"> Volunteer Application</a><br/>
         <i class="glyphicon glyphicon-download-alt"></i><a target="_blank" href="/static/documents/cpcas_liability_waiver.pdf"> Release of Liability Waiver</a><br/>
         <i class="glyphicon glyphicon-download-alt"></i><a target="_blank" href="/static/documents/cpcas_liability_waiver_minor.pdf"> Release of Liability Waiver (for minors)</a><br/>
         <i class="glyphicon glyphicon-download-alt"></i><a target="_blank" href="/static/documents/cpcas_background_check_waiver.pdf"> Background Check Waiver</a>
      </p>
   </div>
   <div class="col-md-5">
      <br/>
      <h2>How to Donate</h2>
      <p>
         The shelter is always in need of donated supplies and funding.
         Donations accepted through <a href="#">PayPal</a> and checks made out to: <em>Cookeville/Putnam County Animal Shelter, 2650 Gainesboro Grade, Cookeville, TN, 38501</em>
      </p>
   </div>
   <div class="col-md-12">
      <br/>
      <h2>Paypal Donation</h2>
      <form class="col-md-4"  action="https://www.paypal.com/cgi-bin/webscr" method="post">
         <input type="hidden" name="cmd" value="_s-xclick">
         <input type="hidden" name="hosted_button_id" value="BTAYDUVAHLD3G">
         <input type="image" style="width: 100%;" src="/static/images/paypal.png" alt="We accept PayPal" border="0" />
      </form>
   </div>
{% endblock %}