{% extends '../help.html' %}

{% block head_title %}
    Wishlist
{% endblock %}

{% block content %}
   <div class="col-md-12">
      <h2>Wishlist</h2>
      <div class="col-md-6">
      <p>
         Purina Dy Dog and Cat Food <br/>
         Clay Cat Litter <br/>
         Puppy Pads <br/>
         Bleach <br/>
         Liquid Laundry Detergent (without bleach) <br/>
         Any Size Hand Sanitizer <br/>
         Dawn Dish Detergent <br/>
         Hand Soap <br/>
         Pine Sol 
         </p>
      </div>
      <div class="col-md-6">
         <p>
         Paper Towels <br/>
         Window Cleaner <br/>
         Non-Soap Pet Shampoo <br/>
         Gift Cards for Pet Supplies Plus, Tractor Supply, Sam's Club and Walmart <br/>
         Laundry Detergent <br/>
         Postage Stamps <br/>
         Office Supplies (Copy Paper, Tape, etc) <br/>
         Collars and Leashes <br/>
         </p>
      </div>
   </div>
{% endblock %}