{% extends 'lost-found.html' %}

{% block content %}
   <div class="col-md-3">
    {% if pet_type == 1 %}
        <h3 class="text-center">Lost Pets</h3>
    {% else %}
        <h3 class="text-center">Found Pets</h3>
    {% endif %}
        
	<div id="lost-found-filter">
        <button class="btn btn-block theme-color-first-background hidden-md hidden-lg navbar-button" id="filter-mobile-collapse" data-toggle="collapse" data-target="#lost-found-filters">
        	     Filters
        	     <i class="glyphicon glyphicon-chevron-up pull-right" style="margin-top: 3px;"></i>
        </button>
		<form id="lost-found-filters" class="collapse-mobile">
		   {% for value, filter in filter_types.items %}
		   <br/>
			<div class="theme-color-first-background lost-found-filter-title text-center">{{ value }}</div>
			   {% for type in filter %}
			       <button type="button" filtertype="{{ value }}" filtervalue="{{ type }}" class="btn btn-block lost-found-filter-unselected">{{ type }}<i class="glyphicon glyphicon-plus pull-right"></i></button>
			   {% endfor %}
	  	   {% endfor %}
		</form>
	</div>
  </div>
  <br/>
  <div class="col-md-9">
     {% if alert_info %}
           <div class="alert alert-info">{{ alert_info }}</div>
     {% endif %}
     {% include '../snippets/list_pets.html' with pets=lost_found_pets filters=filter_keys %}
  </div>
{% endblock  %}
