{% extends 'lost-found.html' %}

{% block nav_current_pages %}
   <div class="col-xs-1"><a href="/lost-found/missing">Lost</a></div>
   <div class="col-xs-1"><a href="/lost-found/found">Found</a></div>
   <div class="nav-sub-selected col-xs-1"><a href="/lost-found/post">Post</a></div>
{% endblock %}

{% block content %}
    <div class="col-md-6 col-md-offset-3">
        {% if user.is_authenticated %}
            {% if post_errors %}
                <div class="alert alert-danger">{{ post_errors }}</div>
            {% endif %}
            {% if alert_info %}
              <div class="alert alert-info">{{ alert_info }}</div>
            {% endif %}
            <h3>Post a lost or found pet</h3>
            <form class="form-group" action="/lost-found/post/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ pet_form }}
                <input class="btn btn-success btn-block" type="submit" value="Post" />
            </form>
        {% else %}
            <div class="alert alert-warning">You must be registered and logged in to post a lost/found pet</div>
	    <div class="btn-group btn-group-justified">
            <a href="/register" class="btn btn-success">Register</a>
	        <a href="/login" class="btn btn-info">Login</a>
	   </div>
        {% endif %}
    </div>
{% endblock %}
